.blob-wrap {
    position: fixed;
    z-index: -1;
}
.blob {
    background: linear-gradient(to right,var(--primary-color-900), var(--primary-color));
    height: 300px;
    aspect-ratio: 1/1;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    translate: -50% -50%;
    animation: rotate 20s infinite;
    transform-origin: center;
}

.blob-blur {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(200px);
    top: 0;
    left: 0;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    } 50% {
        scale: 1 1.5;
    } to {
        rotate: 360deg;
    }
}

@media (max-width: 991px) {
    .blob-wrap {
        display: none;
    }
}