.tech-wrapper {
    overflow: hidden;
    background: var(--glassmorph-bg);
    backdrop-filter: blur(7px);
    border: 1px solid var(--glassmorph-border);
    box-shadow: 0 10px 30px -15px var(--primary-color-900);
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.tech-wrapper .tech-img {
    --size: 50px;
    height: var(--size);
    width: var(--size);
}
.tech-wrapper.sm .tech-img {
    --size: 30px;
}
.tech-wrapper .tech-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tech-text {
    border-left: 1px solid var(--glassmorph-border);
    padding-left: 1rem;
    font-size: 14px;
}
.tech-wrapper.sm {
    z-index: 3;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    gap: 7px;
    backdrop-filter: blur(7px);
    margin-bottom: 0;
}
.tech-wrapper.sm .tech-text {
    font-size: 13px;
    padding-left: 0;
    border: none;
}

@media (max-width: 575px) {
    .tech-wrapper:not(.sm) {
        flex-direction: column;
    }
    .tech-wrapper:not(.sm) .tech-text {
        display: none;
    }
}