.name-maruqee {
    position: relative;
    background-color: var(--primary-color);
}

.name-maruqee-wrap {
    position: relative;
}

.name-maruqee-wrap::after {
    background-image: url('/images/sparkel-marquee.svg');
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 120%;
    width: 100%;
    z-index: 5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: center;
}

.marquee-wrapper {
    --space: 20px;
    display: inline-flex;
    align-items: center;
    gap: 0 var(--space);
    margin-right: var(--space);
}

.marquee-wrapper :is(h5, span) {
    color: #f5eded;
}

@media (max-width: 480px) {
    .name-maruqee {
        color: #f5eded;
        background-color: #8843f2;
        transform: skewY(-2deg);
    }
    .name-maruqee-wrap::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        background-color: #abf143;
        position: absolute;
        top: 0;
        transform: skewY(2deg);
        z-index: -1;
    }
}