.intro-button {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-image {
    position: relative;
    padding: 70px 0;
}

.profile-image .tech-wrapper[data-position="6"] {
    top: 23%;
    left: 5%
}
.profile-image .tech-wrapper[data-position="7"] {
    right: 10%;
    top: 10%;
    z-index: 1
}
.profile-image .tech-wrapper[data-position="22"] {
    bottom: 35%;
    left: 0%;
    z-index: 1
}
.profile-image .tech-wrapper[data-position="19"] {
    right: 0;
    top: 40%
}
.profile-image .tech-wrapper[data-position="5"] {
    bottom: 10%;
    right: 25%
}

.self-image {
    --size: 300px;
    position: relative;
    z-index: 2;
    margin: auto;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--primary-color);
    box-shadow: 0 10px 30px -15px var(--y-color-900);
    animation: levitate 5s infinite linear;
}

@keyframes levitate {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(5px)
    }

    to {
        transform: translateY(0)
    }
}

@media (max-width: 480px) {
    .self-image {
        --size: 200px;
    }
}